:root {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.1818    ;
    color: #FFFFFF;
}

body {
    margin: 0;
    display: flex;
    justify-content: flex-end;

}

.container {
  min-width: 800px;
  max-width: 800px;
  background: rgba(42, 46, 65, 0.7);
  display: flex;
  justify-content: center;
}

.calendar {
    min-width: 602px;
    max-width: 604px;
    position: relative;
}

.calendar--head {
  display: flex;
  justify-content: space-between; 

}

.btn--calendar {
  color: #fff;
  background-color: transparent;
	padding: 1em;
	font-size: 1em;
  border: transparent 1px solid;
}

.btn--calendar:hover {
  border:  #3C82F9 1px solid;
  cursor: pointer;
  color: #3C82F9;
}

.btn--calendar > svg{
  width: 18px;
  height: 36px;
}

.btn--previous {
  transform: rotate(180deg);
}

.calendar--label {
	display: flex;
  justify-content: space-between; 
	padding: 1em ;
  border: transparent 1px solid;
  align-items: center;
  font-size: 3.6rem;
}

.calendar--label:hover {
  border:  #3C82F9 1px solid;
  cursor: pointer;
  color: #3C82F9;  
}
.calendar--days-of-week {
  display: flex;
  justify-content: flex-start;
	opacity: 0.6;
  text-align: center
  border: transparent 1px solid;
  gap: 5px;
  font-size: 2.6rem;
  line-height: 7.6rem;
}

.calendar--day-of-week {  
  position: relative;
  text-align: center;
	color: #fff;
  min-width: 76px;
  min-height: 76px;
  padding: 2px;
  border: transparent 1px solid;
}

.calendar--days {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-size: 2.6rem;
  line-height: 7.6rem;
}

.calendar--day {
  text-align: center;
  min-width: 76px;
  min-height: 76px;
  border: transparent 1px solid;
  padding: 2px;
}

.calendar--day-muted { 
    color: #999; 
}

.calendar--day-selected {
    background-color: #3C82F9;
    color: #fff;
    border-radius: 42px;
}

.calendar--day:hover {
    border:  #3C82F9 1px solid;
    cursor: pointer;
    color: #3C82F9;
    background: #fff;
    border-radius: 42px;
    
}

.calendar--footer {
    padding: 0;
    min-width: 601px;
  }

div.btn__calendar {
    display: flex;
    gap: 28px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.btn__calendar {
  min-width: 285px;
  min-height: 80px;
  text-align: center;
  border: none;
	padding-top: 26px;
  padding-bottom: 28px;
	font-size: 2.2rem;
  line-height: 2.6rem;
  border-radius: 12px;
  color: #fff;
  border: transparent 1px  solid;
}

.btn__calendar > button:hover {
  border:  #3C82F9 1px  solid;
  cursor: pointer;
  color: #3C82F9;
  background: #fff;
}

.calendar__footer h2 {
  font-size: 2.6rem;
  line-height: 3rem;
  padding-top: 5rem;
}

.btn__finance {
  background: #8576ED;
}

.btn__management {
  background: #F39946;
}

.btn__design {
  background: #FF467E;
}

hr {
width: 598px;
height: 2px;
background: #000000;
opacity: 0.17;
margin: 5rem 0rem 5rem 0rem;
}